.movieCard{
    margin: 7px;
    max-width: 200px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  }

  .moviePoster {
    width: 200px;
  }
  
  .movieTitle {
    margin: 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  
  .movieCardInfo {
    color: rgb(205, 205, 205);
    display: flex;
    justify-content: space-evenly;
  }